.field-btn-container button[disabled] {
  opacity: 0.4;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 200px;
  height: 10px;
}

/* the progress bar container */
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* the value of the bar */
progress[value]::-webkit-progress-value {
  background-image:
      -webkit-linear-gradient(135deg,
        transparent 33%, rgba(0, 0, 0, .1) 33%,
        rgba(0,0, 0, .1) 66%, transparent 66%),
      -webkit-linear-gradient(top,
      rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0.3)),
      -webkit-linear-gradient(left, rgba(181, 255, 56, 0.74), rgb(234, 255, 23));

  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}