html {
  margin: 0;
  padding: 0;
}

body {
  font-family: alpha_echoregular;
  margin: 0;
  padding: 0;
}

#main-content, header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}

header h1 {
  font-size: 4.5em;
  color: #333;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

header h4 {
  margin-top: 0px;
  text-align: center;
  font-size: 1.1em;
  color: #666;
  font-style: italic;
  border-bottom: 1px solid #aaa;
}
